@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	margin: 0;
	font-family: 'Englebert','Poppins',sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.form-login {
	font-size:small;
}

.form-login-button {
	font-size:larger;
	font-weight: 900;
}

.font-englebert {
	font-family: 'Englebert','Poppins',sans-serif;
}

.staff-card {
	height: 200px;
	width: 200px;
	border-radius: 1rem;
	background-repeat: no-repeat;
	background-size: cover;
  background-position: center;
	object-fit: contain;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	color:white;
}

.testimony-card {
	height: 234px;
	width: 180px;
	border-radius: 1rem;
	text-align:justify;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 16px;
	gap:6px;
	align-items: left;
	color:black;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.menuTop {
  top: 64px;
  height: calc(100vh - 64px);
}

.textEditor {
	height: 600px;
}