@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Poppins','Mulish' 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.form-title{
	font-family: 'Poppins',sans-serif;
}
.form-login{
	font-family: 'Poppins',sans-serif;
	font-size:small;
}
.form-login-button{
	font-family: 'Poppins',sans-serif;
	font-size:larger;
	font-weight: 900;
}
.form-footer{
	font-family: 'Roboto',sans-serif;

}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
